
<%= div_for status, class: "list-group-item" do %>
       <div class="media">
            <a class="pull-left" href="#">
                <%= image_tag status.user.profile.url(:thumb), class: "img img-responsive media-object thumbnail" %>
            </a>
            <div class="media-body">
                <h4 class="media-heading"><%= status.user.full_name %></h4><% @group = Group.find(status.group_id) %>
                        <small>Posted in <strong><%= link_to @group.name, @group  %></strong> <%= time_ago_in_words(status.created_at) %> ago</small>
                      <p>
                        <% if status.photo.exists? %>
                            <%= image_tag status.photo.url(:medium), class: "img img-responsive" %>
                         <% end %>
                        </p>
                        <p>
                            <%= status.content %>
                        </p>
                        <p>
                            <%= pluralize status.reputation_for(:likes, :group).to_i, "like" %>
                            <% if status.user.full_name != current_user.full_name %>
                                <%= link_to "Top Banter", like_status_path(status, type: "up"), :method => "post", class: "btn btn-primary" %> 
                                <%= link_to "Shanter", like_status_path(status, type: "down"), :method => "post", class: "btn btn-danger" %> </p>
                             <% end %>
                            <% if !current_page?('/') %>
                                <% if current_user.statuses.include? status %>
                                    <%= link_to 'Edit', edit_status_path(status.id)%> 
                                    <%= link_to 'Delete', status_path(status), :method => "delete"%> 
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                
                		
                
              
               

     			
 
<% end %>