


<%= simple_form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  
<% end %>
  



    <%= f.input :name %>
 
    <%= f.text_area :description %><br>
   
  

<%= render :partial => 'status', :collection => @group.statuses %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
