
<div class="row">
    <aside class="col-sm-3">
      <section>
        <%= render 'group_head' %>
      </section>
      <section>
        <h3>Group Members</h3>
        <%= render :partial => @group.memberships %>
      </section>
    </aside>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">

<% if @group.users.include? current_user %>

<div class="panel panel-default">
  <div class="panel-body">
   

    <%= simple_form_for [@group, Status.new], :html => { :multipart => true } do |f| %>
                          <%= f.input :content, :label => "Banter", as: :text, class: "form-group"  %>
                          <strong>Upload Photo</strong> <small>Description can't be blank</small>
                          <%= f.file_field :photo, :label => "Photo Upload", class: "form-group"  %>

            <%= f.submit "Post", class: "btn btn-primary" %>
    <% end %>
  
  </div>
</div>

 <ul class="list-group" id="statuses">
         <%= render :partial => @group.statuses %>
 </ul>






</div>
<% end %>
</div>