<li id="<%= status_feed_item.id %>">
  
  <span class="user">
    <%= status_feed_item.group.name %>
  </span>
  <span class="content"><%= status_feed_item.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(status_feed_item.created_at) %> ago.
  </span>
  <%= link_to 'View', group_path(group), class: "btn btn-default" %>
</li>